body {
    margin: auto;
    text-align: center;
}



main {
    width: 50%;
    margin: auto;
}


.header-top {
    text-align: center;

}

.header-top > img {
    width: 200px;
}

.header-bottom {
    background-color: beige;
    border-style: solid;
    border-width: 3px 0px 0px;
    border-color: bisque;
    padding: 2px;
    margin-top: 20px;
}

.content-image > img {
    border-radius: 2%;
    box-shadow: 5px 5px 5px #888888b8;
    width: 100%;
}

.content-title {
}

.featured {
    border-style: solid;
    border-width: 0 0 0 2px;;
    border-color: bisque;
    text-align: left;
    padding-left: 20px;
    margin-bottom: 40px;
}

.content-description > p {
    text-align: left;
}

hr {
    color: aquamarine;
}

.featured a{
    display: block;
}

.container-recipe {
    text-align: left;
}